# Ignore your saves folder
Saves/
# Ignore Valheim game files
D3D12/
MonoBleedingEdge/
Valheim_Data/
steam_appid.txt
UnityCrashHandler64.exe
UnityPlayer.dll
Valheim.exe
# Ignore runtime BepInEx files
BepInEx/cache/
BepInEx/core/
BepInEx/LogOutput.Log
BepInEx/config/
BepInEx/plugins/
BepInEx/DumpedAssemblies/

# Ignore downloaded BepInEx source files
doorstop_libs/
doorstop_config.ini
start_game_bepinex.sh
start_server_bepinex.sh
changelog.txt
winhttp.dll

# Don't ignore mod configs I want to track
!BepInEx/config/Azumatt.FastLink_servers.yml